@import '~normalize-scss/sass/normalize';
@import 'variables';
@include normalize();

* {
    padding: 0;
}

ul {
    list-style: none;
}

.dark-mode {
    color: map-get(map-get($theme, 'dark'), 'foreground');
    background-color: map-get(map-get($theme, 'dark'), 'background');
}

.light-mode {
    color: map-get(map-get($theme, 'light'), 'foreground');
    background-color: map-get(map-get($theme, 'light'), 'background');
}

html,
body,
#root,
#root > div {
    height: 100%;
}
